{% load static %}

{% include 'head.html' %}

<body>
  {% include 'header.html' %}
  <section class="api_part">
    <div class="container api-layout">
      <h3 id="titleAuth">Authorize Your Google Account</h3>
      <h3 id="titleSignin">My Schedule</h3>

      <!--Add buttons to initiate auth sequence and sign out-->
      <a class="btn_1" id="authorize_button" style="display: none;">Authorize</a>
      <button class="btn_1" id="signout_button" style="display: none;">Sign Out</button>

      <pre style="white-space: pre-wrap;" id="sum-card">
      </pre>
    </div>

    </div>

  </section>

  {% include 'javascript.html' %}

  <script type="text/javascript">
    // Client ID and API key from the Developer Console
    var CLIENT_ID = '43921813824-mt5en8ksc3ml6vjhm94mupd7ioei6t7v.apps.googleusercontent.com';
    var API_KEY = 'AIzaSyDswUezwLcNEzj4BaLwswbiU5vt8Ty2RSg';

    // Array of API discovery doc URLs for APIs used by the quickstart
    var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

    // Authorization scopes required by the API; multiple scopes can be
    // included, separated by spaces.
    // var SCOPES = "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/calendar.readonly";
    var SCOPES = "https://www.googleapis.com/auth/calendar";

    var authorizeButton = document.getElementById('authorize_button');
    var signoutButton = document.getElementById('signout_button');

    /**
     *  On load, called to load the auth2 library and API client library.
     */
    function handleClientLoad() {
      gapi.load('client:auth2', initClient);
      console.log("click");
    }

    /**
     *  Initializes the API client library and sets up sign-in state
     *  listeners.
     */
    function initClient() {
      gapi.client.init({
        apiKey: API_KEY,
        clientId: CLIENT_ID,
        discoveryDocs: DISCOVERY_DOCS,
        scope: SCOPES
      }).then(function () {
        // Listen for sign-in state changes.
        gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

        // Handle the initial sign-in state.
        updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
        authorizeButton.onclick = handleAuthClick;
        signoutButton.onclick = handleSignoutClick;
      }, function (error) {
        appendPre(JSON.stringify(error, null, 2));
      });
    }

    /**
     *  Called when the signed in status changes, to update the UI
     *  appropriately. After a sign-in, the API is called.
     */
    function updateSigninStatus(isSignedIn) {
      if (isSignedIn) {
        authorizeButton.style.display = 'none';
        signoutButton.style.display = 'block';
        titleAuth.style.display = 'none';
        titleSignin.style.display = 'block';
        loginDjango();
        // writeEvents();
        listUpcomingEvents();
      } else {
        authorizeButton.style.display = 'block';
        signoutButton.style.display = 'none';
        titleAuth.style.display = 'block';
        titleSignin.style.display = 'none';
        // document.getElementById('sum-card').remove(document.getElementById('appendSum'));
      }
    }

    /**
     *  Sign in the user upon button click.
     */
    function handleAuthClick(event) {
      gapi.auth2.getAuthInstance().signIn();
    }

    /**
     *  Sign out the user upon button click.
     */
    function handleSignoutClick(event) {
      $.ajax({
        url: "account/logout/",
        type : 'GET',
        success: function(data){
            console.log(data);
        }
      })
      gapi.auth2.getAuthInstance().signOut();
      window.location.reload();
    }

    /**
     * Append a pre element to the body containing the given message
     * as its text node. Used to display the results of the API call.
     *
     * @param {string} message Text to be placed in pre element.
     */
    function appendHeader(message) {
      var header = document.getElementById('header');
      var textContent = document.createTextNode(message + '\n');
      header.appendChild(textContent);
    }

    function appendContent(message) {
      var content = document.getElementById('content');
      var textContent = document.createTextNode(message + '\n');
      content.appendChild(textContent);
    }

    function appendSumCard(message1, message2, label) {
      var content = document.getElementById('sum-card');
      // var textContent1 = document.createTextNode(message1 + '\n');
      // var textContent2 = document.createTextNode(message2 + '\n');
      var res =
        '<div class="card custom-content" id="appendSum">' +
        '<label class="label-custom">' + label + '</label>' +
        '<div class="card card-wrap">' +
        '<div class="card-header" id="header">' +
        message1 +
        '</div>' +
        '<ul class="list-group list-group-flush">' +
        '<li class="list-group-item" id="content"> ' +
        message2 +
        '</li>' +
        '</ul>' +
        '</div>' +
        '</div>'
      '</div>';
      content.innerHTML += res;
    }

    function writeEvents() {
      var resource = {
        'summary': 'Google I/O 2015',
        'location': '800 Howard St., San Francisco, CA 94103',
        'description': 'A chance to hear more about Google\'s developer products.',

        'start': {
          'dateTime': '2019-11-28T09:00:00+07:00',
          'timeZone': 'America/Los_Angeles',
        },
        'end': {
          'dateTime': '2019-11-28T17:00:00+07:00',
          'timeZone': 'America/Los_Angeles',
        },
      };
      gapi.client.load('calendar', 'v3', function () {
        var request = gapi.client.calendar.events.insert({
          'calendarId': 'primary',
          'resource': resource,
          // 'eventId' : 'ODIwMTFkaHZudjh0OTUxdTRxZWJqN3A5bjhfMjAxOTExMjhUMDIwMDAwWiBmYWx5YXNla2FyZGluYUBt'
        });
        request.execute(function (response) {
          console.log(response);
        });
      });
    };

    /**
     * Print the summary and start datetime/date of the next ten events in
     * the authorized user's calendar. If no events are found an
     * appropriate message is printed.
     */
    function listUpcomingEvents() {
      gapi.client.calendar.events.list({
        'calendarId': 'primary',
        'timeMin': (new Date()).toISOString(),
        'showDeleted': false,
        'singleEvents': true,
        'maxResults': 10,
        'orderBy': 'startTime'
      }).then(function (response) {
        var events = response.result.items;
        var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
        
        if (events.length > 0) {
          for (i = 0; i < events.length; i++) {
            console.log(events[i]);
            var event = events[i];
            var whenStart = event.start.dateTime;
            var whenEnd = event.end.dateTime;
            var splittedStart = whenStart.split("T");
            var whenStartDateMonth = Number((splittedStart[0].split('-'))[1]);
            var whenStartDate = (splittedStart[0].split('-'))[2];
            var whenStartDateYear = (splittedStart[0].split('-'))[0]
            var whenStartTimeGMT = Number(((((splittedStart[1]).split("+"))[0]).split(':'))[0]) + 7;
            var whenStartTime = ((((splittedStart[1]).split("+"))[0]).split(':'))[0] + ':' + ((((splittedStart[1]).split("+"))[0]).split(':'))[1]
            var splittedEnd = whenEnd.split("T");
            var whenEndDateMonth = Number((splittedEnd[0].split('-'))[1]);
            var whenEndDate = (splittedEnd[0].split('-'))[2];
            var whenEndDateYear = (splittedEnd[0].split('-'))[0]
            var whenEndTimeGMT = Number(((((splittedEnd[1]).split("+"))[0]).split(':'))[0]) + 7;
            var whenEndTime = ((((splittedEnd[1]).split("+"))[0]).split(':'))[0] + ':' + ((((splittedEnd[1]).split("+"))[0]).split(':'))[1]
            appendSumCard(event.summary, whenStartTime + ' until ' + whenEndTime, whenStartDate + ' ' + months[whenStartDateMonth - 1] + ' ' + whenStartDateYear + ' - ' + whenEndDate + ' ' + months[whenEndDateMonth - 1] + ' ' + whenEndDateYear);
            console.log(whenStartDate + "-" + whenStartDateMonth + "-" + whenStartDateYear + "_" + whenStartTime + "_" + whenEndDate + "-" + whenEndDateMonth + "-" + whenEndDateYear + "_" + whenEndTime);
          }
        } else {
          appendHeader('No upcoming events found.');
        }
      });
    }

    function loginDjango() {
      var general = gapi.auth2.getAuthInstance().currentUser.get();
      var profile = general.getBasicProfile();
      console.log(profile);
      var data = {
        'email' : profile.U3,
        'name' : profile.ig,
        'profpic' : profile.Paa,
        'password' : general.El,
      }
      console.log(data);
      $.ajax({
        url: "account/login/",
        type : 'POST',
        data : data,
        datatype: 'json',
        success: function(data){
            console.log(data);
        }
      })
    }



  </script>

  <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
    onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
</body>

</html>