{% load static %}

{% include 'head.html' %}

{% include 'header.html' %}

<section class="feature_part">
    <div class="container">
        <div class="row">
            <div class="container api-layout" style="margin-top: 50px;">
                <h3>Find Your Spare Time</h3>
                <form id="formFindSchedule" method="post" action="/schedule/find/">
                    <div class="form-group row">
                        <label for="group" class="col-sm-3 col-form-label">Group</label>
                        <div class="col-sm-4">
                            <select required autofocus class="form-control" id="group" name="group" style="width: 100%;" required>
                                <option selected="true" value="{{ group.uniqueStr }}">{{ group.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="start_date" class="col-sm-3 col-form-label">Start Date</label>
                        <div class="col-sm-9">
                            <input name="start_date" type="date" data-date-inline-picker="true" required/>
                        </div>

                        <label for="end_date" class="col-sm-3 col-form-label">End Date</label>
                        <div class="col-sm-9 mb-2">
                            <input name="end_date" type="date" data-date-inline-picker="true" required/>
                        </div>

                        <label for="range" class="col-sm-3 col-form-label">Range</label>
                        <div class="col-sm-9 row mb-2">
                            <select required autofocus class="form-control col-md-2 col-4 ml-3" id="start_hour" name="range_hour" required>
                                <option value="00" selected="selected">00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                            </select>
                            <select required autofocus class="form-control col-md-2 col-4 ml-1" id="start_minute" name="range_minute" required>
                                <option value="00" selected="selected">00</option>
                                <option value="30">30</option>
                            </select>
                        </div>

                        <label for="startime" class="col-sm-3 col-form-label">Start Time</label>
                        <div class="col-sm-9 row mb-2">
                            <select required autofocus class="form-control col-md-2 col-4 ml-3" id="start_hour" name="start_hour" required>
                                <option value="00" selected="selected">00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                            </select>        
                            <select required autofocus class="form-control col-md-2 col-4 ml-1" id="start_minute" name="start_minute" required>
                                <option value="00" selected="selected">00</option>
                                <option value="30">30</option>
                            </select>
                        </div>

                        <label for="endtime" class="col-sm-3 col-form-label">End Time</label>
                        <div class="col-sm-9 row mb-2">
                            <select required autofocus class="form-control col-md-2 col-4 ml-3" id="end_hour" name="end_hour" required>
                                <option value="00" selected="selected">00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                            </select>        
                            <select required autofocus class="form-control col-md-2 col-4 ml-1" id="end_minute" name="end_minute" required>
                                <option value="00" selected="selected">00</option>
                                <option value="30">30</option>
                            </select>        
                        </div>

                    </div>
                    <div class="sticky-bottom float-center mt-5">
                        <button type="submit" class="btn_1">Find Schedule</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>