{% load static %}

{% include 'head.html' %}

{% include 'header.html' %}
<section class="learning_part">
    <div class="container">
        <div class="row align-items-sm-center align-items-lg-stretch">
            <div class="col-md-4">
                <div class="learning_img">
                    <img src="{% static 'img/learning_img.png' %}" alt="learning">
                </div>
            </div>
            <div class="col-md-4">
                <div class="learning_member_text">
                    <h5>GROUP</h5>
                    <h2>{{ group.name }}</h2>
                    <p>{{ group.description }}</p>
                    <ul>
                        <li><span class="ti-pencil-alt"></span>Members: {{ total_member }}</li>
                        <br>
                        <li><span class="ti-ruler-pencil"></span>Admin: {{ group.admin }}</li>
                    </ul>
                    {% if joined %}
                        <a href="/schedule/form/{{ group.uniqueStr }}" class="btn_1" style="width: 100%; text-align: center;">FIND SPARE TIME</a>
                        <br>
                        <br>
                        <a href="/group/left/{{ group.uniqueStr }}" class="btn_1">LEFT</a>
                    {% else %}
                        <a href="/group/join/{{ group.uniqueStr }}" class="btn_1">JOIN</a>
                    {% endif %}
                    <input type="text" value="https://spare.herokuapp.com/group/id/{{ group.uniqueStr }}" id="shareLink" style="display: none;">
                    <button type="button" onclick="copyLink()" class="btn_2 mb-4" data-toggle="modal" data-target="#inviteModal">SHARE</button>
                    <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-notify modal-warning" role="document">
        =                   <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title white-text w-100 font-weight-bold py-2">Invite Your Friend</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="white-text">&times;</span>
                                    </button>
                                </div>
        
                                <div class="modal-body">
                                    <div class="md-form">
                                    <i class="fas fa-envelope prefix grey-text"></i>
                                    <input type="email" id="form2" class="form-control validate">
                                    <label data-error="wrong" data-success="right" for="form2">Email</label>
                                    </div>
                                </div>
        
                                <div class="modal-footer justify-content-center">
                                    <a type="button" class="btn btn-outline-warning waves-effect">Invite <i class="fas fa-paper-plane-o ml-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="col-md-4">
                {% if group.lastSpareDate %}
                <div class="card" style="width: 17rem;">
                    <div class="card-header">
                        Last spare time
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Tanggal : {{ group.lastSpareDate }} </li>
                        <li class="list-group-item">Jam : {{ group.lastSpareTime }} </li>
                        <li class="list-group-item">Jumlah bentrok : {{ group.lastSpareFitness }} </li>
                    </ul>
                    
                </div>
                {% endif %}

                <div class="card mt-3" style="width: 17rem;">
                    <div class="card-header">
                        Members
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for member in members %}
                        <li class="list-group-item">{{ member.name }} </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<script>
function copyLink() {
  var copyText = document.getElementById("shareLink");
  // var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
  alert("Copied the text: " + copyText.value);
  // alert(copyText.value);
}
</script>

<script type="text/javascript" src="{% static '/js/custom-js/copyLink.js' %}"></script>


<!-- <section>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
            Members
            </div>
            <ul class="list-group list-group-flush">
                {% for member in members %}
                <li class="list-group-item">{{ member.name }} </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section> -->