{% load static %}

{% include 'head.html' %}

{% include 'header.html' %}

<section class="feature_part">
    <div class="container group_form">
        <div class="row">
            <div class="container api-layout" style="margin-top: 50px;">
                <h3>Create Your Peer Group</h3>
                <form method="POST" action="/group/create/">
                  {% csrf_token %}
                    <div class="form-group">
                      <label for="name">Group Name</label>
                      <input name="name" type="name" class="form-control" id="groupName" aria-describedby="emailHelp" placeholder="Enter your group name">
                    </div>
                    <div class="form-group">
                      <label for="description">Group Description</label>
                      <input name="description" type="desc" class="form-control" id="groupDesc" placeholder="Describe you group here">
                    </div>
                    <!-- <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit" class="btn_1">Create a Group</button>
                  </form>
            </div>
        </div>
    </div>
</section>


