{% load static %}
    <script src="{% static 'js/jquery-1.12.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/login-google.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/get-schedule.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/store-schedule.js' %}"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>

    

   <!--::header part start::-->
    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/"> <img src="{% static 'img/logo.png' %}" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav align-items-center">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/schedule">Schedule</a>
                                </li>
                                {% if user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/profile">Profile</a>
                                </li>
                                {% endif %}
                                <li class="d-none d-lg-block">
                                    <button class="btn_1" id="si_button" style="display: none;">Sign In</butron>
                                    <button class="btn_1" id="so_button" style="display: none;">Sign Out</button>
                                </li>
                                
                                <!-- <li class="d-none d-lg-block"> -->
                                    <!-- {% if user.is_authenticated %}
                                    <a class="btn_1" id="signout_button">Sign Out</a>
                                    {% else %}
                                    <a class="btn_1" id="authorize_button">Authorize</a>
                                    {% endif %} -->
                                <!-- </li> -->
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->