{% load static %}

{% include 'head.html' %}
<body>
{% include 'header.html' %}

<section class="feature_part">
    <div class="container">
        <div class="row">
            <div class="container api-layout" style="margin-top: 50px;">
                <h3>Profile</h3>
                <div class="text-center">
                    <h4><strong>Halo, {{ user.name }}!</strong></h4>
                    <img src="{{ user.profpic }}" alt="profpic" class="foto img-responsive center-img"/>
                </div>
                <br>
                <div style="margin-left: 16px;">
                    <p><b>Name</b> : {{ user.name }} </p>
                    <p><b>Email</b> : {{ user.email }} </p>
                </div>
                <br>
                <div class="text-center">
                    <h4><strong>Your Groups</strong></h4>
                </div>
                <div class="row">
                  {% if groups %}
                    {% for group in groups %}
                    <div class="col-sm-4">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{ group.name }}</h5>
                          <p class="card-text">{{ group.description|truncatechars:50 }}</p>
                          <a href="/group/id/{{ group.uniqueStr }}" class="btn_4">VIEW</a>                      
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  {% endif %}
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">GROUP 2</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="/group" class="btn_4">VIEW</a>                      
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">GROUP 3</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="/group" class="btn_4">VIEW</a>                      
                      </div>
                    </div>
                  </div>
                </div>
                <div class="sticky-bottom float-center mt-5">
                  <a href="/group/create/" class="btn_2">Create Group</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'javascript.html' %}


<script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};handleClientLoad()"
  onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
</body>
</html>
