.api_part {
    margin-top: 13vw;
}

#authorize_button,#signout_button {
    text-align: center;
    color: white;
    width: 20%;
    font-size: 16px;
}

.api-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
}

.api-layout h3{
    margin-bottom: 20px;
}

.custom-content {
    margin: 10px;
    min-width: 18rem;
    border: none;
}

#sum-card {
    width: 100%;
    height: 10rem;
    display: flex;
    margin-top: 1cm;
}

.card-wrap {
    flex-direction: row !important;
    height: 10rem;
}

.label-custom {
    flex-direction: column;
    min-width: 100%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #authorize_button,#signout_button {
        width: 50%;
    }
}
