	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/04/2019 10:10
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.2ee6939d3393.eot");
  src: url("../fonts/Flaticon.2ee6939d3393.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.69b93cde803f.woff2") format("woff2"),
       url("../fonts/Flaticon.87614946f477.woff") format("woff"),
       url("../fonts/Flaticon.7ff2efec75ab.ttf") format("truetype");
       /* url("../fonts/Flaticon.d7c639084f68.svg#Flaticon") format("svg"); */
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    /* font-family: "Flaticon";
    src: url("./Flaticon.d7c639084f68.svg#Flaticon") format("svg"); */
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 30px;
       font-style: normal;
       color: #fff;
}

.flaticon-growth:before { content: "\f100"; }
.flaticon-wallet:before { content: "\f101"; }