.col-form-label, .form-control {
    margin: 5px 0 5px 0;
}
  
.form-control {
    border: 0.5px solid rgb(255, 94, 0);
    color: #85848B;
}

.form-control#group {
    width: 30%;
}

.form-control#start_hour,#start_minute,#end_hour,#end_minute {
    width: 20%;
}

.form-group.row {
    width: 70%;
}

.table {
    width: 50%;
}
  
.foto {
    width: 200px;
    height: 200px;
    align-content: center;
    border-radius: 50%;
    margin-right: 0 auto;
    margin-left: 0 auto;
}

.api_part {
    margin-top: 13vw;
}

#authorize_button,#signout_button {
    text-align: center;
    color: white;
    width: 20%;
    font-size: 16px;
}

.api-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
}

.api-layout h3{
    margin-bottom: 20px;
}

.label-custom {
    flex-direction: column;
    min-width: 100%;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #authorize_button,#signout_button {
        width: 50%;
    }
}

.group_form .form-control {
    height: 50px;
    width: 150%;
    border: 0.5px solid rgb(255, 94, 0);
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0;
  }

  .group_form .form-control::placeholder {
    color: #999999;
  }

  .group_form .form-control:focus {
    border-color: #f0e9ff;
    outline: 0;
    box-shadow: none;
  }


